<img style="position:fixed; left:0%; top:0%; display:block;
    min-height:100%;
    min-width:100%; z-index:-1000;
    -webkit-filter: blur(7px); 
    -moz-filter: blur(8px);
    -ms-filter: blur(8px);    
    filter: blur(8px);"
    src='/pub/img/background4.jpg'/>

<h1 class="" style="color:white; font-size:24px; position:fixed;  font-weight:600; top:-12px; left:15px;">SeekSide</h1>

<div class="fill container-page" ng-controller="accountCtrl">
    <br/><br/>
    <div ng-if="currentUser.role != currentUser.displayRole"
        ng-click="clickDefaultDisplayRole()"
        class="alert alert-danger fill"
        >
        <localize key="account.downgradedPermissions" />
        <span style="color: orange" class="fa fa-exclamation-triangle" />
        <span ng-style="{visibility: busyRole && 'visible' || 'hidden'}"><i class="fa fa-spinner fa-spin"></i></span>
        <br/>
    </div>

    <div ng-if="!!errorMessage" class="alert alert-danger fill">
        <span>
            {{errorMessage}}
        </span>
        <br/>
    </div>

    <div ng-if="!!infoMessage" class="alert alert-info fill">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <span>
            {{infoMessage}}
        </span>
        <br/>
    </div>


    <!-- ##################################################################################################### -->
    <!-- Account Overview -->

<!--     <div class="panel panel-primary" style="background-color:rgba(0, 0, 0, 0); border-color:#1CDED5;">
        <div class="panel-heading" style="border:#1CDED5;">
            <div class="panel-title" style="background-color:#1CDED5; font-size:25px; font-weight:500;">
                <localize key="account.yourAccount"></localize> - <span>{{currentUser.userName}}</span>
            </div>
        </div>
        <div class="panel-body">
            <span>
                Hello!
            </span>
        </div> 
    </div> -->


    <!-- ##################################################################################################### -->
    <!-- Preferences -->

    <div class="panel panel-primary" style="background-color:rgba(0, 0, 0, 0); border-color:#1CDED5;">
        <div class="panel-heading" style="border:#1CDED5;">
            <div class="panel-title" style="background-color:#1CDED5; font-size:25px; font-weight:500;">
                <!-- <localize key="account.yourAccount" /> -->
                Preferences
            </div>
        </div>
        <div class="panel-body">

            <!-- Language selection -->
            <div class="btn-group" dropdown is-open="status.isopen">
                <button type="button" class="btn btn-lg btn-fancy dropdown-toggle" ng-disabled="disabled" style="background-color:#1CDED5; border:#1CDED5; color:white;">
                    <localize key="account.currentLanguage"/> - <localize key="{{currentUser.locale}}"/>
                    <span ng-show="!busyLocale" class="caret"></span>
                    <span ng-show="busyLocale"><i class="fa fa-spinner fa-spin"></i></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li ng-repeat="locale in PC.allLocales">
                        <a href="" ng-click="setLocale(locale); status.isopen = false;">
                            <localize locale="{{locale}}" key="{{locale}}"></localize>
                        </a>
                    </li>
                </ul>
            </div>
        </div> <!-- panel-body -->
    </div> <!-- panel -->
    

    <!-- ##################################################################################################### -->
    <!-- Admin stuff -->

    <div class="panel panel-primary" style="background-color:rgba(0, 0, 0, 0); border-color:#1CDED5;" ng-show="currentUserIsStaff">
        <div class="panel-heading" style="border:#1CDED5;">
            <div class="panel-title" style="background-color:#1CDED5; font-size:25px; font-weight:500;">
                <!-- <localize key="account.yourAccount" /> -->
                Admin
            </div>
        </div>
        <div class="panel-body">


            <!-- Change to stand user View -->
            <div>
                <a ng-disabled="busyRole"
                    class="btn btn-lg btn-fancy" 
                    ng-click="clickStandardUserDisplayRole()"
                    style="background-color:#1CDED5; border:#1CDED5; color:white;">
                        <localize key="account.changeToStandardUserView" />
                        <span ng-style="{visibility: busyRole && 'visible' || 'hidden'}"><i class="fa fa-spinner fa-spin"></i></span>
                </a>
            </div>

        </div> <!-- panel-body -->
    </div> <!-- panel -->

    <!-- Logout button -->
    <div class="">
        <a ng-disabled="busy"
            class="btn btn-lg "
            ng-click="clickLogout()"
            style="float:right; width:120px; background-color:#FF4A4A; border:#FF4A4A; color:white;">
            <localize key="Logout"></localize>
            <span ng-style="{visibility: busy && 'visible' || 'hidden'}">
                <i class="fa fa-spinner fa-spin"></i>
            </span>
        </a>
    </div>
</div>