<img style="position:fixed; left:0%; top:0%; display:block;
    min-height:100%;
    min-width:100%; z-index:-1000;
    -webkit-filter: blur(7px); 
    -moz-filter: blur(8px);
    -ms-filter: blur(8px);    
    filter: blur(8px);"
    src='/pub/img/background4.jpg'/>

<h1 class="" style="color:white; font-size:24px; position:fixed;  font-weight:600; top:-12px; left:15px;">SeekSide</h1>

<div class="fill container-page" ng-controller="deviceCtrl">
    <br/><br/>
    <div class="alert alert-danger" ng-if="!!errorMessage">
        <span>
            {{errorMessage}}
        </span>
    </div>

    {{PC.onPageActivate || 0}}


<!-- ######################################################################################################################## -->
<!-- Device list -->
    <div class="panel panel-primary" style="background-color:rgba(0, 0, 0, 0); border-color:#1CDED5;">
        <div class="panel-heading" style="border:#1CDED5;">
            <div class="panel-title" style="background-color:#1CDED5; font-size:25px; font-weight:500;">
                <span class="">Devices<span style="color:#DDDDDD"> ({{deviceCache.list.length || 0}}) </span></span>

                <span class="pull-right" ng-show="PC.busy">
                    <i class="fa fa-spinner fa-spin"></i>
                </span>
            </div>
        </div>
        <div class="panel-body no-padding">
            <ul class="list-group">

                <!-- Device Header row -->
                <li class="list-group-item no-padding" style="background-color:rgba(0, 0, 0, 0); border:rgba(0, 0, 0, 0);">
                    <div class="table some-padding">
                        <div class="row text-bold">
                            <div class="col-xs-3">
                                <span style="color:white; font-size:20px;">name</span>
                            </div>
                            <div class="col-xs-9">
                                <span style="color:white; font-size:20px;">last seen</span>
                            </div>
                        </div>
                    </div>
                </li>

                <!-- Device info row -->
                <li ng-repeat="device in deviceCache.list"
                    code="user = device.getUserNow();
                            lastActiveTime = PC.deviceLastActiveTimes[device.deviceId]"
                    class="list-group-item no-padding"
                    ng-class="{ 'highlight-own': PC.deviceSelection.isSelected(device) }" style="background-color:rgba(0, 0, 0, 0); border:rgba(0, 0, 0, 0);">

                    <div class="table some-padding"
                        ng-click="PC.deviceSelection.toggleSelection(device); onChange(); PC.showDeviceConfig = false;">
                        <div class="row">
                            <div class="col-xs-3">
                                <span style="color:white;">{{ user.userName }}</span>
                            </div>
                            <div class="col-xs-9">
                                <span ng-if="device.isAssigned">
                                    <!-- if assigned, display last active time -->
                                    <span ng-if="!!lastActiveTime" style="color:white;">
                                        {{ util.moment(lastActiveTime).fromNow() }}
                                    </span>
                                    <span ng-if="!lastActiveTime" style="color:white;">
                                        &lt;unknown>
                                    </span>
                                </span>
                                <span ng-if="device.resetTimeout"
                                    pulse-clock="util.getCountdownMillis(device.resetTimeout)">
                                    <span ng-if="clockValue > 0"
                                         class="alert-warning">
                                        reset pending ({{ util.Math.round(clockValue/1000).toFixed(0) }} s)
                                    </span>
                                    <span ng-if="clockValue <= 0"
                                         class="alert-danger">
                                        reset expired
                                    </span>
                                </span>
                                <span ng-if="!device.resetTimeout && !device.isAssigned">
                                    <span class="alert-danger">
                                        not assigned
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>

                <!-- ######################################################################################################################## -->
                <!-- Device Editor -->
                    <form ng-if="PC.deviceSelection.isSelected(device)">
                        <div class="row some-padding">
                            <div class="col-xs-3">
                                <!-- Name -->
                                <input type="text" ng-model="user.userName"
                                    ng-change="saveDeviceName(device)">
                            </div>
                            
                            <div class="col-xs-3">
                            </div>
                            
                            <div class="col-xs-3">
                            </div>
                        </div>

                        <hr class="some-margin" />

                        <!-- Buttons -->
                        <div class="table row some-padding">
                            <a ng-disabled="PC.deviceSaving"
                                class="btn btn-default col-xs-3"
                                style="display:inline-block" 
                                ng-click="showDeviceConfig(device);">
                                <span>Show Config</span>
                            </a>
                            <div class="col-xs-7">

                                <!-- Save indicators -->
                                <span ng-style="{visibility: PC.deviceSaving && 'visible' || 'hidden'}"><i class="fa fa-spinner fa-spin"></i></span>
                                <span ng-style="{visibility: PC.deviceSaved && 'visible' || 'hidden'}" class="label label-default">saved</span>
                            </div>
                            <span dropdown class="col-xs-2"
                              style="padding:0">
                                <a href=""
                                  type="button"
                                  class="btn btn-default dropdown-toggle"
                                  style="width: 100%"
                                  title="More">
                                  <i class="fa fa-navicon"></i>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a ng-if="currentUserIsStaff" href=""
                                            ng-disabled="!isDeviceActive(device)"
                                            ng-click="isDeviceActive(device) && tryRestartDevice(device)"
                                            ng-class="{'a-disabled': !isDeviceActive(device)}">
                                            <i class="fa fa-rotate-left"></i>&nbsp;
                                            Restart
                                        </a>
                                    </li>

                                    <li>
                                        <a ng-if="currentUserIsStaff" href=""
                                            ng-disabled="!isDeviceActive(device)"
                                            ng-click="isDeviceActive(device) && tryRebootDevice(device)"
                                            ng-class="{'a-disabled': !isDeviceActive(device)}">
                                            <i class="fa fa-sign-out"></i>&nbsp;
                                            Reboot
                                        </a>
                                    </li>

                                    <hr />

                                    <li>
                                        <a ng-if="currentUserIsStaff" href=""
                                            ng-click="tryResetDevice(device)"
                                            class="alert alert-danger no-margin">
                                            <i class="fa fa-eject"></i>&nbsp;
                                            Reset
                                        </a>
                                    </li>

                                    <hr />

                                    <li>
                                        <a ng-if="currentUserIsStaff" href=""
                                            ng-click="tryDeleteDevice(device)"
                                            class="alert alert-danger no-margin">
                                            <i class="fa fa-trash"></i>&nbsp;
                                            <localize key="Delete"></localize>
                                        </a>
                                    </li>
                                </ul>
                            </span>
                        </div>  <!-- Buttons -->

                        <!-- Config display -->
                        <div ng-if="PC.showDeviceConfig && PC.currentDeviceSettings">
                            <div class="vertical-space"></div>

                            <!-- Config -->
                            <div class="some-padding"
                                style="border: solid black 1px; background-color: white;">
                                <h4>Root password</h4>
                                <pre>{{PC.currentDeviceSettings.rootPassword}}</pre>

                                <h4>{{DEVICE.ConfigFilePath}}</h4>
                                <pre>{{util.JSON.stringify(PC.currentDeviceSettings.cfg, null, '\t')}}</pre>

                                <h4>{{PC.currentDeviceSettings.cfg.HostIdentityTokenFile}}</h4>
                                <pre>{{PC.currentDeviceSettings.identityToken}}</pre>
                            </div>
                        </div>
                    </form>
                </li>       <!-- ng-repeat="device" -->
            </ul>

            <div class="alert" ng-if="!PC.busy && deviceCache.list.length == 0">
                <span style="color:white;">There are no registered devices yet...</span>
            </div>

            <!-- Device buttons -->
            <div style="position:relative; height: 4em;"
                ng-if="currentUserIsStaff">
                <div class="container-centered-flexbox"
                    ng-if="!PC.deviceSelection.hasSelection()">
                    <div style="margin:auto; position:relative;">
                        <a class="btn btn-default" href=""
                            ng-if="currentUserIsStaff"
                            ng-click="registerNewDevice('new device')"
                            style="background-color:#1CDED5; border:#1CDED5; color:white;">
                            <i class="fa fa-plus" style="color:white;"></i>&nbsp; Add Device!
                        </a>

                        <a class="btn btn-default" href=""
                            ng-if="currentUserIsStaff"
                            ng-click="startWritingDeviceWifiConfigFile()"
                            ng-class="{active: PC.writingDeviceWifiConfigFile}"
                            style="background-color:#1CDED5; border:#1CDED5; color:white;">
                            <i class="fa fa-edit" style="color:white;"></i>&nbsp; Edit Wi-fi configuration file
                        </a>

                        <span dropdown class="no-padding" style="position:relative;">
                            <a href=""
                              type="button"
                              class="btn btn-default dropdown-toggle"
                              title="More"
                              style="background-color:#1CDED5; border:#1CDED5;">
                              <i class="fa fa-navicon" style="color:white;"></i>
                            </a>

                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href=""
                                        ng-if="currentUserIsStaff"
                                        ng-click="downloadImage()">
                                        <i class="fa fa-download"></i>&nbsp; Download image
                                    </a>
                                </li>
                            </ul>
                        </span>
                    </div>
                </div>
            </div>

            <div ng-if="PC.writingDeviceWifiConfigFile">
                <textarea style="width:100%" rows="10" ng-model="AppConfigData.deviceWifiConnectionFile">
                </textarea>

                <div style="position:relative; height: 4em;">
                    <div class="container-centered-flexbox">
                        <div style="margin:auto; position:relative;">
                            <a class="btn btn-default" href=""
                                ng-click="updateDeviceWifiConfigFile()">
                                <i class="fa fa-check green"></i>&nbsp; Save
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>  <!-- panel-body -->
    </div>     <!-- Devices panel -->
</div>