<div>
    <label style="font-size:30px; position:relative; top:10px; ">&nbsp;Delete "{{activityTitle}}" ?</label>

    <div style="margin:15px;">

        <div>
            <a style="visibility:hidden;" class="btn btn-default col-xs-9" ng-click="">
            <span></span></a>
            <button type="button" ng-click="deleteActivity()" class="btn btn-success" style="width:12%;">Delete</button>
            <button type="button" ng-click="cancel()" class="btn btn-warning" style="width:12%;">Cancel</button>
        </div>
        


    </div>

</div>