<img style="position:fixed; left:0%; top:0%; display:block;
    min-height:100%;
    min-width:100%; z-index:-1000;
    -webkit-filter: blur(7px); 
    -moz-filter: blur(8px);
    -ms-filter: blur(8px);    
    filter: blur(8px);"
    src='/pub/img/background4.jpg'/>

<h1 class="" style="color:white; font-size:24px; position:fixed;  font-weight:600; top:-12px; left:15px;">SeekSide</h1>

<div class="fill container-page" ng-controller="homeCtrl">
	<br/><br/><br/>
	<div style="text-align:center">
		<p style="color:white; font-size:60px; font-weight:600;"> 
	        &nbsp;SeekSide
	    </p>
	</div>
	<br/>
	<div class="row">

		<div class="col-md-2">
		</div>

		<div class="col-md-2">
			<div>
				<img src='/pub/img/good1.png' style="width:225px; position:relative; right:20px;"/>
			</div>
			<br/>
			<div>
				<p style="width:130px; color:#F5F5F5; font-size:30px; font-weight:700; position:relative; left:38px;">快速交友</p>
			</div>
			<br/>
			<div>
				<p style="color:#F5F5F5; font-size:20px; font-weight:600; width: 262px; 
				position:relative; right:28px;">
				SeekSide 在透過回答活動中的問題與互動過程中，建立踏出第一步的關鍵，再由回答的答案發現起彼此默契，快速認識彼此，再也不怕認識新朋友需要花太多時間人力成本
			</p>
			</div>
		</div>

		<div class="col-md-1">
		</div>

		<div class="col-md-2">
			<div>
				<img src='/pub/img/good2.png' style="width:197px; position:relavitve;"/>
			</div>
			<br/>
			<div>
				<p style="width:130px; color:#F5F5F5; font-size:30px; font-weight:700; position:relative; left:39px;">發現默契</p>
			</div>
			<br/>
			<div>
				<p style="color:#F5F5F5; font-size:20px; font-weight:600; width:262px; 
				position:relative; right:29px;">
				在使用 SeekSide 的過程中，藉由回答問題後的伺服器雲端運算，可以迅速的找出與自己相同或互補的朋友，並透過 SeekSide 裝置來發現彼此之間的小默契
				</p>
			</div>
		</div>
		
		<div class="col-md-1">
		</div>

		<div class="col-md-2">
			<div>
				<img src='/pub/img/good3.png' style="width:184px; height:190px; position:relative; top:18px; right:0px;"/>
			</div>
			<br/>
			<div>
				<p style="width:130px; color:#F5F5F5; font-size:30px; font-weight:700; position:relative; left:30px; top:16px;">增加動機</p>
			</div>	
			<br/>
			<div>
				<p style="color:#F5F5F5; font-size:20px; font-weight:600; width:262px; 
				position:relative; right:34px; top:14px;">
				使用了 SeekSide 後，能夠了解彼此的小默契，輕鬆增加跨出第一步的動機，解決內心有著認識新朋友的想法，但卻遲遲不敢跨出第一步的障礙</p>
			</div>
		</div>
		
		<div class="col-md-2">
		</div>
	</div>
</div>